# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Algorithms_Data_Structures_Interview_Questions.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
